* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-color: #1a9494;
  --primary-light-color: #f6ffff;
  --second-color: #459c9c;
}

.container {
  max-width: 1356px;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
}

.btn {
  background-color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  display: inline-block;
  color: #fff;
  border-radius: 6px;
  transition: filter 0.2s ease;
}

.btn:hover {
  filter: brightness(0.9);
}

.header-wrap {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

header img {
  height: 60px;
}

header ul {
  display: flex;
}

header li {
  margin: 0 0.5rem;
}

header a {
  padding: 0 1rem;
  transition: color 0.1s ease;
}

header a:hover {
  color: var(--primary-color);
}

.main-wrap {
  background-color: var(--primary-light-color);
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main.about {
  display: block;
}

main.about h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

main .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main img {
  width: 40%;
}

main h1 {
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.85rem;
}

main p {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.85rem;
}
main a {
  font-size: 1.125rem;
  font-weight: 700;
}

section {
  margin: 2.5rem auto !important;
}

section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
}

.services ul {
  display: flex;
  justify-content: space-between;
}

.services li {
  padding: 3rem 2rem;
  width: 30%;
  text-align: center;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.services li h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.12;
  margin-bottom: 1.25rem;
}

.services li svg {
  display: block;
  margin: auto;
  margin-bottom: 1.25rem;
  width: 90%;
  height: 70px;
  fill: var(--primary-color);
  filter: brightness(0.8);
}

.services li a {
  padding: 0.75rem 1rem;
  font-weight: 700;
}

.pricing .pricing-tiers {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.pricing .pricing-tiers div {
  padding: 3rem 2rem;
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.pricing .pricing-tiers h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.125rem;
}

.pricing .pricing-tiers p {
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--primary-color);
  margin-top: auto;
  margin-bottom: 1rem;
}

.footer-wrap {
  background-color: var(--primary-light-color);
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer h4 {
  margin-top: 1.25rem;
  font-size: 1.5rem;
}

footer ul {
  margin-top: 1.25rem;
}

footer li {
  margin-bottom: 10px;
}

footer ul.social {
  display: flex;
  gap: 1rem;
}

footer ul.social svg {
  display: block;
  width: 48px;
  height: 48px;
  fill: #111;
  transition: fill 0.15s ease;
}

footer ul.social a:is(:hover, :focus) svg {
  fill: var(--primary-color);
}

footer ul.contact-info li {
  display: flex;
  align-items: center;
  gap: 25px;
}
footer ul.quick-links li a {
  padding: 0 1rem;
  transition: color 0.1s ease;
}
footer ul.quick-links li a:hover {
  color: var(--primary-color);
}
form {
  width: 95vw;
  max-width: 500px;

  margin: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1);
}
form label {
  display: block;
  margin: 1.2rem 0;
  letter-spacing: 1px;
}
input {
  display: block;
  width: 100%;
  margin: auto;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  outline: none;
}
input:focus {
  border-width: 2px;
  background-color: var(--primary-light-colorcolor);
  transition: border-width 200ms ease-in, background-color 200ms ease-in;
}
form button {
  outline: none;
  border: none;
  display: block;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0.75rem;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  transition: filter 200ms ease-in;
}
button:focus,
button:hover {
  filter: brightness(1.3);
}
.about p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 70ch;
}
.about h2 {
  margin: 3rem 0 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.about ul li.services-of {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--second-color);
  line-height: 1.5;
}
.about ul p {
  font-size: 1.25rem;
  max-width: 50ch;
  color: black;
  line-height: 1.2;
}

@media (max-width: 1016px) {
  header {
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    /* padding: .5rem 0; */
  }

  header img {
    height: 40px;
  }
  
  header nav {
    padding: 1rem 0;
    font-size: .8rem;
  }
  
  main {
    flex-direction: column;
    justify-content: center;
  }

  main h1 {
    font-size: 2.5rem;
  }

  main img {
    display: none;
  }

  main.about h1 {
    font-size: 2rem;
  }
  main.about p {
    font-size: 1rem;
  }
  main.about h2{
    font-size: 1.5rem;
  }

  main.about ul li {
    font-size: 1.125rem !important;
  }
  main.about ul p {
    font-size: 1rem;
  }
  
  section h2 {
    text-align: center;
  }
  
  .services ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services li {
    width: 80%;
  }
  
  .pricing .pricing-tiers {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing .pricing-tiers div {
    width: 80%;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
}